.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Container {
  width:80%;
}

.App-Menu {
  width:49%;
  display:inline-block;
}

.App-View {
  height:500px;
  width:49%;
  display:inline-block;
}
