@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

.App {
  font-family: 'Architects Daughter', cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

    background-image: url("../img/transitionbase9.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
