@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


.CharacterSelection {
  width:700px;
  margin: 0 auto;
  margin-top:10px;
  text-align:center;
  margin-top:20px;
  margin-bottom:20px;
}

.CharacterSelection-Box {
  width: 100%;
  height:120px;
}

.CharacterSelection-Header {
  margin-bottom: 55px;
  font-family: 'Permanent Marker', cursive;
  line-height: 90%;
}

