/* .CharacterSelectionItem {
} */

.CharacterSelectionItem-Img {
  display:inline-block;
  /* padding:30px; */
  width:100px;
  transition: .5s ease;
  backface-visibility: hidden;
}


.CharacterSelectionItem-Img:hover {
  width:108px;
}