.LeaderBoardHeader {
  width: 1000px;
  margin-left: 30px;
  margin-top:30px;
}

.LeaderBoardHeader-Wrapper {
  width: 80%;
  margin: 10px auto;
}

.LeaderBoardHeader-Rank {
  display:inline-block;
  width:35%;
}

.LeaderBoardHeader-Name {
  display:inline-block;
  width:50%;
}

.LeaderBoardHeader-Score {
  display:inline-block;
  width:10%;
}