@import url('https://fonts.googleapis.com/css?family=Sigmar+One');

.LeaderBoardBoxContainer {
  width: 100%;
  min-height: 100vh;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.LeaderBoardBox {
  width: 1100px;
  margin: 0 auto;
}

.LeaderBoardBox-Header {
  text-align:center;
  /*padding: 2% 0 2%;*/
  color: gold;
  font-size: 80px;
  font-style: italic;
  width: 100%;
  font-family: 'Sigmar One', cursive;
}

.LeaderBoardBox-BtnContainer {
  text-align:center;
  margin-top:35px;
}

.LeaderBoardBox-Btn{
  border-radius: 10px;
}

.LeaderBoardBox-Btn:hover{
  background-color: rgba(255, 255, 255, 0.7);
  
}

.LeaderBoardBox-BtnStyle {
  text-decoration: none;
  color:black;
}

.LeaderBoardBox-BtnStyle:hover {
  text-decoration: none;
  color:black;
}