/* body {
  background: #69c6ce url("../img/background.png") no-repeat;
  background-size: cover;
} */

.PlayBox{
  width: 400px;
  height: 200px;
  margin: 20px auto;
  background-color: #fff;
  padding: 18px;

  border: 1px solid silver;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.PlayBox-Form{
  margin-bottom: 15px;
}

.PlayBox-Input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 15px;
  width: 90%;
  padding: 20px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}

.PlayBox-Btn{
  height: 45px;
  margin-top:15px;
  margin-bottom: 20px;
}

.PlayBox-PlayBtn {
  float: left;
  width: 45%;
  margin-right: 10px;
  background-color: #449d44;
  border-color: #398439;
  color: #fff;


  height: 45px;
  border-radius: 5px;
  border: 0;
  color: #FFF;
  font-size: 13px;
  font-weight: 900;
}

.PlayBox-Login {
  float: right;
  width: 45%;
  margin-right: 10px;
  background-color: rgb(221, 85, 85);
  border-color: rgb(221, 85, 85);
  color: #fff;


  height: 45px;
  border-radius: 5px;
  border: 0;
  color: #FFF;
  font-size: 13px;
  font-weight: 900;
}

.PlayBox-LeaderBoard {
  color: #009cff;
  font-size: 16px;
  float: right;
  font-weight: 900;
}



.PlayBox-Register {
  color: #009cff;
  font-size: 16px;
  margin-right: 10px;
  float: left;
  font-weight: 900;
}