.PlayBox{
  /*width: 800px;*/
  height: 100%;
  margin: 20px auto;
  background-color: #fff;
  padding: 18px;

  border: 1px solid silver;
  border-radius: 4px;

  background-color: rgba(255, 255, 255, 0.95);

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05); 
}

.PlayBox-Header {
  color:black;
  font-size: 10pt;
}

.PlayBox-Form{
  margin-bottom: 15px;
}

.PlayBox-Input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 15px;
  width: 100%;
  padding: 20px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}

.PlayBox-Btn{
  height: 45px;
  margin-top:15px;
  margin-bottom: 20px;
  
}

.PlayBox-PlayBtn {

  width: 40%;
  float: left;
  background-color: #449d44;
  border-color: #398439;
  color: #fff;


  height: 45px;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 24px;
  font-weight: 900;

  padding-top:10px;
  text-align:center;
  text-decoration:none;
  font-weight: 900;
}

.PlayBox-PlayBtn:hover {
  text-decoration:none;

}

.PlayBox-LeaderBoardBtn {
  width: 40%;
  float: right;
  /*margin-right: 10px;*/
  background-color: rgb(221, 85, 85);
  border-color: rgb(221, 85, 85);
  color: black;
  height: 45px;
  border-radius: 5px;
  border: 0;
  font-size: 24px;
  font-weight: 900;
  padding-top:10px;
  text-align:center;
  text-decoration:none;
  color:white;
  font-weight: 900;
}

.PlayBox-LeaderBoardBtn:hover {
  text-decoration:none;
}
