.Post-Input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 15px;
  width: 100%;
  padding: 20px;
  font-size: 25px;
  line-height: 1.42857143;
  color: #555;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}