.Transition {
  width: 60%;
  height:700px;
  margin: 0 auto;
  margin-bottom:50px;
  border: 2px solid black;

}

.Transition-Header {
  text-align:center;
}

.Transition-Hearts {
  width:40%;
  padding-bottom: 40px;
  display:block;
}

.Transition-Hero {
  margin-top: 300px;
  width:150px;
}
