body {
  text-align: center;
}

#leaderBoardSpace {
  height: 300px;
  width:100%; 
  background-color:lightcoral;
}

#leaderBoardSpace2 {
  height: 300px;
  width:100%; 
  background-color:lightskyblue;
}